<h1>ReceiptMailer#order_confirmation</h1>

<p>
  <%= @greeting %>, find me in app/views/receipt_mailer/order_confirmation.html.erb
</p>

<%= @order.order_confirmation %>
<%= @user.full_name %>
<% @artists.each do |artist| %>
  <%= artist.shop_name %>
<% end %>
