<h1>Artist: <%= @artist.shop_name %></h1>


  <ul>
    <% @artist.pieces.each do |piece| %>
      <li><%= piece.title %></li>
      <li><%= image_tag attachment_url(piece, :photo, :fill, 400, 400, format: "jpg"), class: "img-responsive" %></li>
    <% end %>
  </ul>
