<div class="container">

  <h1>Update User</h1>
  <%= render 'form' %>
  <br>
  <%= link_to "Delete User", user_path(id: @user.id), method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: "btn btn-lg btn-primary" %>
</div>
