<div class="art">
  <div class="my-row">

    <div class="my-col-3">
      <%= render 'nav' %>
    </div>

    <div class="my-col-9">
      <%= react_component('PiecesList') %>
    </div>

  </div>

</div>



<script type="text/javascript">
  var adjustSize = function() {
    var width = $("img").css("width");
    $(".back").css("width", width);
    $(".back").css("height", width);
    $(".front").css("height", width);
  }
  $( window ).load(function() {
    adjustSize();
  });
  $( window ).resize(function() {
    adjustSize();
  });
</script>
