<div class="art">

  <div class="row">

    <div class="col-md-2">
      <br>
      <h5>Shop by Category</h5>
      <hr>

      <br>
      <h5>Shop by Price</h5>
      <hr>

      <br>
      <h5>Shop by Location</h5>
      <hr>
      <ul>
        <li>
          Local
        </li>
        <li>
          Anywhere
        </li>
      </ul>

      <br>
      <h5>Search</h5>
      <hr>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <%= form_tag root_path, method: :get do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search" %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <%= react_component('PiecesList') %>
    </div>

  </div>

</div>



<script type="text/javascript">
  var adjustSize = function() {
    var width = $("img").css("width");
    $(".back").css("width", width);
    $(".back").css("height", width);
    $(".front").css("height", width);
  }
  $( window ).load(function() {
    adjustSize();
  });
  $( window ).resize(function() {
    adjustSize();
  });
</script>
