@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'pieces';
@import 'artists';
@import 'users';
@import 'sessions';
@import 'carts';

$font: 'Open Sans Condensed', sans-serif;
$grey: #333;
$red: #c0392b;
$grey-rgba: rgba(51,51,51,.5);

h1, h2, h3, h4, h5, h6, p, a, body {
  font-family: $font;
}
a {
  color: #333;
  &:hover {
    color: #333333;
  }
}
blockquote {
  border: 0;
}
html, body {
  height: 100%;
}
li {
  list-style: none;
}
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	// margin-top:-32767px;
}
header {
  h1 {
    text-align: center;
    margin: 10px auto;
  }
}
.nav {
  max-height: 44px;
}
.content-wrapper {
  min-height: 100%;
  padding-bottom: 60px;
  margin-bottom: 20px;
}
footer {
  background-color: lighten($grey, 60%);
  position: relative;
	margin-top: -60px;
	height: 60px;
	clear:both;
  padding: 10px 0;
  h5 {
    font-size: 12px;
    text-align: center;
    margin: 0;
  }
}

.art {
  font-family: $font;
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto 0;
    padding: 0;
    position: relative;
    max-width: 100%;
    .flip-container {
      width: 25%;
      position: relative;
      perspective: 1000;
      transform: rotateY(0deg);
      display: flex;
      justify-content: center;
      background-color: $grey;
    }
    .flip-container:hover .card, .flip-container.hover .card {
      transition-delay: 0.6s;
      transform: rotateY(180deg);
    }
    .price {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 10px;
      margin: 2px;
      background-color: $grey-rgba;
      color: #fff;
    }
    .card {
      position: relative;
      transform-style: preserve-3d;
      transition: 1s;
      width: 100%;
      // border: 1px solid #333;
      .front {
        backface-visibility: hidden;
        z-index: 2;
        transform: rotateY(0deg);
      }
      .back {
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        transform: rotateY(180deg);
        background-color: #333;
        height: 100%;
        h4, h5 {
          color: #fff;
          padding: 10px;
          margin: 0 auto;
        }
      }
    }
  }
}

.image-tile {
  position: relative;
  a {
    i {
      position: absolute;
      left: 5px;
      top: 5px;
      color: $red;
      font-size: 24px;
      &:hover {
        left: 4px;
        top: 4px;
        font-size: 26px;
        font-weight: bold;
      }
    }
  }
}
.my-row {
  display: flex;
  flex-direction: row;
  padding: 15px;
  max-width: 100%;
}
.search-filter-nav {
  .ul-options {
    padding-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .flip-container {
    min-width: 33%;
  }
  .art {
    // background-color: red;
  }
  .search-filter-nav {
    h5, li, select {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    max-height: 150px;
    li {
      a {
        padding: 0;
      }
    }
  }
  footer {
    h5 {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 512px) {
  .flip-container {
    min-width: 50%;
  }
  .art {
    // background-color: blue;
  }
}

@media screen and (max-width: 480px) {
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  .art {
    // background-color: green;
  }
}

@media screen and (max-width: 320px) {
  h4 {
    font-size: 12px;
  }
  h5 {
    font-size: 10px;
  }
  .art {
    // background-color: purple;
  }
}
