#mapid {
  height: 400px;
  width: 400px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  .leaflet-popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
